.ContactUsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.contact-form {
    display: flex;
    flex-direction: column;
    width: 250%;
    max-width: 400px;
  }

.columnContainer{
  position: relative;
  display: flex;
  flex-flow: row;
  margin-left: 90px;
  margin-right: 90px;
  gap: 30px;
}

.card__info-card {
  width:545px;
  align-content: center;
  background-color: #f0ecec;
  border-radius: 20px;
  padding: 8px;
}

.contentContainer{
  align-items: center;
}
  
  .contact-form label {
    margin-top: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form textarea {
    height: 100px;
    resize: none;
  }
  
  .send-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .padd{
    padding-top: 24px;
  }
  .send-button:hover {
    background-color: #0056b3;
  }

  @media screen and (max-width: 1024px) {
    .columnContainer {
      flex: 1;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
    }

    .card__info-card {
      max-width:50vh;
      align-content: center;
      background-color: #f0ecec;
      border-radius: 20px;
      padding: 15px;
    }
  
  }