.ContactUsContainer {
    
  flex-direction: column;
  align-items: center;
  display: flex;
  flex: 1;
  background-color: white;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0px;

  }

  .ContactUsContainer h1 { 
    font-size: 7vh;
    padding-bottom: 2vh;
  }

.contact-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;

  }

.columnContainer{
  position: relative;
  display: flex;
  flex-flow: row;
  gap: 30px;
  padding-bottom: 6vh;
}

.card__info-card {
  max-width:50vh;
  align-content: center;
  background-color: #f0ecec;
  border-radius: 20px;
  padding: 8px;
  margin-bottom: 3vh;
}

.card__info-card h2 {
  padding: 1vh;
}

.card__info-card p {
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  padding-bottom: 1.5vh;
}

.contentContainer{
  align-items: center;
}
  
  .contact-form label {
    margin-top: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 50vh;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form textarea {
    height: 100px;
    resize: none;
  }
  
  .send-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    justify-content: center;
  }

  .cLogoImage{
    background-image: url('../../public/images/churchLogoBlack.png');
    background-repeat: no-repeat;
    background-position: 0% 80%;
    width: 60vh;
    height: 60vh;
  }
  
  .padd{
    padding-top: 24px;
    justify-content: center;
  }
  .send-button:hover {
    background-color: #0056b3;
  }

  @media screen and (max-width: 1024px) {
    .columnContainer {
      flex: 1;
      flex-direction: column;
      align-items: center;
      gap: 0;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
    }

    .card__info-card {
      max-width:50vh;
      align-content: center;
      background-color: #f0ecec;
      border-radius: 20px;
      padding: 15px;
    }

    .contact-form {
      display: flex;
      flex: 1;
      flex-direction: column;
      max-width: 400px;

    }

    .cLogoImage{
      background-image: url('../../public/images/churchLogoBlack.png');
      background-repeat: no-repeat;
      width: 60vh;
      height: 60vh;
    }

 

  .contact-form input,
  .contact-form textarea {
    display: flex;
    flex: 1;
    width: 50vh;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  }