.donateContainer {
background-color: #fff;
padding-bottom: 2rem;
  text-align: center;
  position: relative;
}

.donate-content {
  margin-left: 10rem;
  
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.donate-link {
  display: inline-block;
  padding: 12px 24px;
  background-color: #003f92;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 1rem;
  max-width: 230px;
}

.donate-link:hover {
  background-color: #178de1;
} 

.paypal-image{
  background-image: url('../../public/images/PayPal.png');
  background-size: contain;
  height: 70px;
  width: 250px;
  background-repeat: no-repeat;
  
}