.donateContainer {
background-color: #fff;
padding-bottom: 2rem;
  text-align: center;
  position: relative;
}

.donate-content {
  margin-left: 1vh;
  
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.donate-link {
  display: inline-block;
  padding: 12px 24px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 1rem;
  max-width: 230px;
}

.donate-link-Y{
  display: inline-block;
  padding: 12px 24px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 1rem;
  max-width: 230px;
  align-content: center;
}

.donate-link-F{
  display: inline-block;
  padding: 12px 24px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 1rem;
  max-width: 230px;
  align-items: center;
}

.donate-link:hover {
  background-color: #178de1;
} 

.donate-link-Y:hover {
  background-color: #db0000;
} 

.donate-link-F:hover {
  background-color: #147ae0;
} 

.paypal-image{
  background-image: url('../../public/images/PayPal.png');
  background-size: contain;
  height: 70px;
  width: 250px;
  background-repeat: no-repeat;
  margin: 0 auto;
  
}

.card_divide{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    gap: 10rem;
    padding: 1rem;
    justify-content: center; 

}

.youtubeImage{
  background-image: url('../../public/images/YouTube_Logo.png');
  background-size: contain;
  height: 70px;
  width: 250px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.facebookImage{
  background-image: url('../../public/images/facebookLogo.png');
  background-size: contain;
  height: 70px;
  width: 80px;
  background-repeat: no-repeat;
  align-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .donate-content {
        margin-left: 0;  /* Remove left margin on smaller screens */
    }
    
    .card_divide {
        gap: 4rem;  /* Further reduce gap on smaller screens */
    }
}