video {
    object-fit:cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container {
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}

.hero-container >h1 {
    color: #fff;
    font-size: 55px;
    margin-top: -70px;
    text-align: center;
    padding-bottom: 40px;

}


.card__divide1{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10%;
    gap: 10rem;
    align-items: center;
    justify-content: center; 
  }

  .card__divide__info-card1 {
    position: relative;
    justify-content: center;
  }

  .toggle-button{
    background: rgba( 255, 255, 255, 0.30 );
box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

    width: 10vh;
    height: 10vh;
    border-radius: 100px;
    border: none;
    position: absolute;
    margin-top: 55vh;
  }

  .toggle-button:hover{
    cursor: pointer;
    width: 10vh;
    height: 10vh;
    border-radius: 100px;
    border: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.47);
  }
 

  .video-description {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
  }

h5 {
    color: #fff;
    font-size: 10vh;
    text-align: center;
    margin-bottom: 10vh;
}

.hero-container p{
    color: #fff;
    display:flex;
    font-size:larger;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    text-align: justify;
    margin: 0;
}

@media screen and (max-width: 760px) {
    .hero-container >h1 {
        font-size: 45px;
        color: #fff;
        margin-top: -70px;
    }

    .hero-container >p{
        font-size: 30px;
    }
}

@media screen and (max-width: 1024px) {

    .card_divide {
        gap: 2rem;  /* Further reduce gap on smaller screens */
    }
    .hero-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .card__divide1{
        position: relative;
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 10%;
        gap: 10vh;
        column-gap: 0;
        align-items: center;
        justify-content: center; 
      }
      
      .toggle-button{
        background: rgba( 255, 255, 255, 0.30 );
         box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
        backdrop-filter: blur( 20px );
         -webkit-backdrop-filter: blur( 20px );
        border-radius: 10px;
          border: 1px solid rgba( 255, 255, 255, 0.18 );
    
        width: 10vh;
        height: 10vh;
        border-radius: 100px;
        border: none;
        position: absolute;
        margin-top: 62vh;
      }

      h5 {
        color: #fff;
        font-size: 10vh;
        text-align: center;
        margin-bottom: 18vh;
    }

      .hero-container p{
        color: #fff;
        display:flex;
        font-size:larger;
        font-weight: bold;
        justify-content: center;
        align-content: center;
        text-align: justify;
        padding-bottom: 33vh;
    }



}

