.quote-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
  }
  

  .quote-text {
    font-size: 24px;
    font-style: italic;
    color: #333;
    text-align: center;
    max-width: 800px;
    position: relative;
  }

  .reading-guide {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: red;
    transition: left 0.5s ease;
    top: 50%;
    transform: translateY(-50%);
  }

  .highlight {
    background-color: yellow;
    transition: background-color 0.5s ease;
    border-radius: 10px;
  }
